<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Projects</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <section id="projects">
        <h2>GitHub Projects</h2>
        <div class="project">
            <h3>High Fidelity Radio Player</h3>
            <p>This internet radio stream player enhaces the sound of the radio stream to bring back dynamics by using an expander and brining back lost frequencies which was caused by encoding the stream to a lossless format.</p>
            <a href="https://github.com/jahruhn/highfidelityradioplayer" target="_blank">View on GitHub</a>
        </div>
        <div class="project">
            <h3>Project Title 2</h3>
            <p>Description of project 2. This project focuses on...</p>
            <a href="https://github.com/username/project2" target="_blank">View on GitHub</a>
        </div>
        <div class="project">
            <h3>Project Title 3</h3>
            <p>Description of project 3. This project showcases...</p>
            <a href="https://github.com/username/project3" target="_blank">View on GitHub</a>
        </div>
        <!-- Add more projects as needed -->
    </section>
</body>
</html>